@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  position: relative;
  @apply bg-dark;
}

.wrapper {
  @apply px-8 mx-auto relative;
}

@media (min-width: 976px) {
  .wrapper {
    @apply px-20;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    @apply px-52;
  }
}

